.blue {
    background-color: blue;
    color: white;
    margin-top: 20px
}
.red {
    background-color: red;
    color: white
}
.green {
    background-color: green;
    color: white
}
.grey {
    background-color: grey;
    color: white
}
.yellow {
    background-color: yellow;
    color: black
}
.blue {
    background-color: blue;
    color: white
}
.white {
    background-color: white;
    color: black;
    border: 1px solid black !important
}
.pink {
    background-color: pink;
    color: black
}
.orange {
    background-color: orange;
    color: black
}
.guess {
    width: 25px;
    height: 25px
}
